App {
  text-align: center;
}
.mainDisplay{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin: 1rem;
    margin-right: 3rem;
}
.row{
    display: flex;
    padding-bottom: 2rem;
    padding-left: 3rem;
}
.parent{
    margin-left: 5rem;
    margin-bottom: 20rem;
    display: flex;
}

.login-card{
    width: 35%;
    height: 30%;
    margin-top: 3rem;
    margin-left: 33%;
    margin-bottom: 3rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.login-title{
    margin-left: 3rem;
}
.login-items{
    padding: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.login-item{
    padding: 3rem;
}

.opening-mainpage-location h1{
    align-content:center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.spacing-row-items{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    column-gap: 10rem;
}
.column{
    display:flex ;
    flex-direction: column;

}
.ListGroup{
    width: 20%;
}

.Carousel{
    padding-top: 1em;
    padding: 1em;
    width: 100%;
    display: flex;
}


.center-slide-text{
   text-align: center; 
}


.radio-display{
    display: flex-direction;
}

li{
    list-style:none;
};
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1em;
    padding-top: 0em;
}
body{
    padding-top: -3rem;
    padding-left: 1em;
    padding-right: 1em;

}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 10vh;
    background: rgb(73,79,82);
    color: white;
    font-family: Arial; 
    
}

.login-Form{
    align-content: center;
}

.nav-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
}

.information {
    display: flex;
    flex-direction: column;
    column-gap: 7rem;
    width: 100%;
    align-items: stretch;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}


.information label{
    padding: 2rem;
}

.recaptcha-Spacing{
    padding: 2rem;
}

.information input {
    width: 20rem;
    height: 1rem;
    font-size: medium;
    padding-left: .5rem;
    padding-top: 5 rem;
}

.eventos{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.evento{
    width: 40rem;
    height: 15rem;
    border: 1px solid black;
    margin: 10px;
    padding-left: 2rem;
    font-family: Arial;
}

.Card-appearence{
    width: 50rem;
}
